<%- layout("layouts/boilerplate") %>
<body>
    <div class="row">
    <div class="col-8 offset-2">
    <form method="POST" action="/listings/<%= listing._id %>?_method=PUT" novalidate class="needs-validation" enctype="multipart/form-data">
        <br>
        <div>
            <label for="title" class="form-label">Title</label>
            <input type="text" value="<%= listing.title %>" name="listing[title]" class="form-control" required/>
            <div class="valid-feedback">Title looks good</div>
        </div>
        <div>
            <label for="price" class="form-label">Price</label>
            <input type="number" value="<%= listing.price %>" name="listing[price]" class="form-control" required/>
            <div class="invalid-feedback">Please Enter valid price</div>
        </div>
        <div>
            <label for="description" class="form-label">Description</label>
            <textarea type="text" name="listing[description]"  class="form-control" required><%= listing.description %></textarea>
            <div class="invalid-feedback">Please Enter a short description</div>
        </div>
        <div>
            <p>Original Listing image</p>
            <img src="<%= originalImageUrl %>" alt="My villa image"/>
        </div>

        <div>
            <label for="image" class="form-label">Upload New Image</label>
            <input type="file" name="listing[image]" class="form-control"/>
        </div>
        <div>
            <label for="location" class="form-label">Location</label>
            <input type="text" value="<%= listing.location %>" name="listing[location]" class="form-control" required/>
            <div class="invalid-feedback">Please Enter a valid Location</div>
        </div>
        <div>
            <label for="country" class="form-label">Country</label>
            <input type="text" value="<%= listing.country %>" name="listing[country]" class="form-control" required/>
            <div class="invalid-feedback">Please Enter the valid Country Name</div>
        </div>
        <br>
        <button class="btn">Save Changes</button>
    </form>
    </div>
    </div>
</body>